/*This CSS is for the login page */
/*Put The input inside the form with class "box"*/
/*It should be like this:
<form class="box">
      <input type="text" name="" placeholder="Username">
      <input type="password" name="" placeholder="Password">
      <input type="submit" name="" value="Login">
</form>
*/
.box{
  width:300px;
  padding:40px;
  background: #191919;/*Change this for changing the background color of form*/
}
.box input[type = "text"], .box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline:none;
  color: white;
  border-radius: 24px;
  transition: width 0.3s;
}
.box input[type = "text"]:focus, .box input[type = "password"]:focus{
  width:80%; /*Change This to keep the width of streching less*/
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: 0;
  display: block;
  margin: 20px auto;
  border: 2px solid #3498db;
  padding: 14px 40px;
  outline:none;
  color: white;
  border-radius: 24px;
  cursor:pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}
/*End of Form animation*/

/*This CSS is for Images so that they could flip*/
/*Put the image like this: "to get effect":
<div class="inner">
  <div class="front">
    All the images should go here 
    <img src="">
  </div>
  <div class="back">
    All the nformation related to image should go here
  </div>
</div>
*/
.inner{
  position: relative;
  perspective: 1000px;
  width:300px;
  height:168px;/*Specify The width and height of images*/
  transform-style: preserve-3d;
}
.inner:hover .front{
  transform: rotateX(180deg);
}
.inner:hover .back{
  transform: rotateX(360deg);
}
.front, .back{
  position: absolute;
  width:100%;
  height:100%;
}
.back{
  transform: rotateX(180deg);
  //backface-visibility: hidden;/*remove the coment line, if the front
                                 class does not contain image.*/
  transition: transform 0.8s;
}
.front{
  backface-visibility: hidden;
  transition: transform 0.8s;
}
/*End of Image animation*/

/*Put The button inside a div: like this
<div>
  <a class="some class" href="">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
</div>
!!!Important It must contain 4 span for this to work
*/
.button{
  position: relative;
  top:100px;
    display:flex;/*This is for when we bunch of button,
                 they will appear in row*/
}
.button a {
  display:block;
  position:relative;
  width:50px;/*change width and height to change the box size of button*/
  height:50px;
  line-height:50px;
  font-size:20px;/*Change This to change the size of facebook*/
  text-align:center;
  //text-decoration:none;/*Remove commentif it contain text*/
  color:#404040;
  cursor: pointer;
}
.button a span{
  bottom:0;
  right:0;
  position:absolute;
  transition:transform .5s;
}
.button a span:nth-child(1),
.button a span:nth-child(3){
  width:100%;
  height:3px;
  background:#404040;
}
.button a span:nth-child(1){
  top:0;
  transform-origin:left;
}
.button a span:nth-child(3){
  bottom:0;
  transform-origin:right;
}
.button a:hover span:nth-child(1){
  transform:scale(0);
  background-color:#404040;
  //transform-origin:left;
  transition:transform .5%;
}
.button a:hover span:nth-child(3){
  bottom:0;
  transform:scale(0);
  transform-origin:right;
  transition:transform .5s;
}
.button a span:nth-child(2),
.button a span:nth-child(4){
  width:3px;
  height:100%;
}
.button a span:nth-child(2){
  top:0;
  left:0;
  transform:scale(0);
  transform-origin:top;
  transition: 0.6s;
}
.button a:hover span:nth-child(2){
  transform:scale(1);
  transform-origin:top;
  background-color:#404040;
  transition:transform .5s;
}
.button a span:nth-child(4){
  top:0;
  transform:scale(0);
  transform-origin:top;
  transition: 0.6s;
}
.button a:hover span:nth-child(4){
  transform:scale(1);
  transform-origin:bottom;
  transition:transform .5s;
  background-color:#404040;
}
.fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*End Of button animation*/