/*This class is for the login page */
/*Put The input inside the form with class "form"*/
/*It should be like this:
<form class="form">
      <input type="text" name="" placeholder="Username">
      <input type="password" name="" placeholder="Password">
      <input type="submit" name="" value="Login">
</form>
*/
.yp_form{
  width:300px;
  padding:40px;
  background: #191919;/*Change this for changing the background color of form*/
}
.yp_form input[type = "text"], .yp_form input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline:none;
  color: white;
  border-radius: 24px;
  transition: width 0.3s;
}
.yp_form input[type = "text"]:focus, .yp_form input[type = "password"]:focus{
  width:95%; /*Change This to keep the width of streching less*/
  border-color: #2ecc71;
}
.yp_form input[type = "submit"]{
  border:0;
  background: 0;
  display: block;
  margin: 20px auto;
  border: 2px solid #3498db;
  padding: 14px 40px;
  outline:none;
  color: white;
  border-radius: 24px;
  cursor:pointer;
}
.yp_form input[type = "submit"]:hover{
  background: #2ecc71;
}
/*End of Form animation*/

/*This CSS is for Images so that they could flip*/
/*Put the image like this: "to get effect":
<div class="flip_image_inner">
  <div class="front">
    All the images should go here 
    <img src="">
  </div>
  <div class="back">
    All the nformation related to image should go here
  </div>
</div>
*/
.yp_flip_image_inner{
  position: relative;
  perspective: 1000px;
  width:300px;
  height:168px;/*Specify The width and height of images*/
  transform-style: preserve-3d;
}
.yp_flip_image_inner:hover .yp_flip_image_front{
  transform: rotateX(180deg);
}
.yp_flip_image_inner:hover .yp_flip_image_back{
  transform: rotateX(360deg);
}
.yp_flip_image_front, .yp_flip_image_back{
  position: absolute;
  width:100%;
  height:100%;
}
.yp_flip_image_back{
  transform: rotateX(180deg);
  //backface-visibility: hidden;/*remove the coment line, if the front
                                 class does not contain image.*/
  transition: transform 0.8s;
}
.yp_flip_image_front{
  backface-visibility: hidden;
  transition: transform 0.8s;
}
/*End of Image animation*/

/*This is social media social_media animation*/
.fa{
  color:grey;
}
.yp_social_media div{
    position: absolute;
    right:25%;
    left:15%;
    margin-left:-150px;
}
.yp_social_media{
   list-style:none;
   margin:50px 10px;
   display:inline-block;
   font-size:30px;
   padding:20px 10px;
   color:grey;
}
.yp_social_media:hover{
  opacity:0.7;
  transition-display:1s;
}
.fa:hover{
  color:RGB(254,174,0);

}


/*End of social media social_media animation*/

/*This class is for the sign_up page */
/*Put The input inside the form with class "form"*/
/*It should be like this:
 <form class="yp_form">
          <input type="text" name="" placeholder="Username">
          <input type="email" name="" placeholder="email">
          <input type="password" name="" placeholder="Password">
          <input type="tel" name="" placeholder="Phone Number">
          <input type="number" name="" placeholder="Year of Joining">
	      <input type="submit" name="" value="Sign Up">
		</form>
*/
.yp_form{
  width:300px;
  padding:40px;
  background: #191919;/*Change this for changing the background color of form*/
}
.yp_form input[type = "text"], .yp_form input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline:none;
  color: white;
  border-radius: 24px;
  transition: width 0.3s;
}
.yp_form input[type = "number"], .yp_form input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline:none;
  color: white;
  border-radius: 24px;
  transition: width 0.3s;
}
.yp_form input[type = "email"], .yp_form input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline:none;
  color: white;
  border-radius: 24px;
  transition: width 0.3s;
}
.yp_form input[type = "tel"], .yp_form input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline:none;
  color: white;
  border-radius: 24px;
  transition: width 0.3s;
}
.yp_form input[type = "text"]:focus, .yp_form input[type = "password"]:focus{
  width:80%; /*Change This to keep the width of streching less*/
  width:95%; /*Change This to keep the width of streching less*/
  border-color: #2ecc71;
}
.yp_form input[type = "number"]:focus, .yp_form input[type = "password"]:focus{
  width:80%; /*Change This to keep the width of streching less*/
  width:95%; /*Change This to keep the width of streching less*/
  border-color: #2ecc71;
}
.yp_form input[type = "email"]:focus, .yp_form input[type = "password"]:focus{
  width:80%; /*Change This to keep the width of streching less*/
  width:95%; /*Change This to keep the width of streching less*/
  border-color: #2ecc71;
}
.yp_form input[type = "tel"]:focus, .yp_form input[type = "password"]:focus{
  width:80%; /*Change This to keep the width of streching less*/
  width:95%; /*Change This to keep the width of streching less*/
  border-color: #2ecc71;
}
.yp_form input[type = "submit"]{
  border:0;
  background: 0;
  display: block;
  margin: 20px auto;
  border: 2px solid #3498db;
  padding: 14px 40px;
  outline:none;
  color: white;
  border-radius: 24px;
  cursor:pointer;
}
.yp_form input[type = "submit"]:hover{
  background: #2ecc71;
}
/*End of sing_up Form animation*/
