/*This class is for the login page */
/*Put The input inside the form with class "form"*/
/*It should be like this:
<form class="form">
      <input type="text" name="" placeholder="Username">
      <input type="password" name="" placeholder="Password">
      <input type="submit" name="" value="Login">
</form>
*/
.yp_form{
  width:300px;
  padding:40px;
  background: #191919;/*Change this for changing the background color of form*/
}
.yp_form input[type = "text"], .yp_form input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline:none;
  color: white;
  border-radius: 24px;
  transition: width 0.3s;
}
.yp_form input[type = "text"]:focus, .yp_form input[type = "password"]:focus{
  width:95%; /*Change This to keep the width of streching less*/
  border-color: #2ecc71;
}
.yp_form input[type = "submit"]{
  border:0;
  background: 0;
  display: block;
  margin: 20px auto;
  border: 2px solid #3498db;
  padding: 14px 40px;
  outline:none;
  color: white;
  border-radius: 24px;
  cursor:pointer;
}
.yp_form input[type = "submit"]:hover{
  background: #2ecc71;
}
/*End of Form animation*/

/*This CSS is for Images so that they could flip*/
/*Put the image like this: "to get effect":
<div class="flip_image_inner">
  <div class="front">
    All the images should go here 
    <img src="">
  </div>
  <div class="back">
    All the nformation related to image should go here
  </div>
</div>
*/
.yp_flip_image_inner{
  position: relative;
  perspective: 1000px;
  width:300px;
  height:168px;/*Specify The width and height of images*/
  transform-style: preserve-3d;
}
.yp_flip_image_inner:hover .yp_flip_image_front{
  transform: rotateX(180deg);
}
.yp_flip_image_inner:hover .yp_flip_image_back{
  transform: rotateX(360deg);
}
.yp_flip_image_front, .yp_flip_image_back{
  position: absolute;
  width:100%;
  height:100%;
}
.yp_flip_image_back{
  transform: rotateX(180deg);
  //backface-visibility: hidden;/*remove the coment line, if the front
                                 class does not contain image.*/
  transition: transform 0.8s;
}
.yp_flip_image_front{
  backface-visibility: hidden;
  transition: transform 0.8s;
}
/*End of Image animation*/

/*This is social media social_media animation*/
.fa{
  color:grey;
}
.yp_social_media div{
    position: absolute;
    right:25%;
    left:15%;
    margin-left:-150px;
}
.yp_social_media{
   list-style:none;
   margin:50px 10px;
   display:inline-block;
   font-size:30px;
   padding:20px 10px;
   color:grey;
}
.yp_social_media:hover{
  opacity:0.7;
  transition-display:1s;
}
.fa:hover{
  color:RGB(254,174,0);

}


/*End of social media social_media animation*/

/*This class is for the sign_up page */
/*Put The input inside the form with class "form"*/
/*It should be like this:
 <form class="yp_form">
          <input type="text" name="" placeholder="Username">
          <input type="email" name="" placeholder="email">
          <input type="password" name="" placeholder="Password">
          <input type="tel" name="" placeholder="Phone Number">
          <input type="number" name="" placeholder="Year of Joining">
	      <input type="submit" name="" value="Sign Up">
		</form>
*/
.yp_form{
  width:300px;
  padding:40px;
  background: #191919;/*Change this for changing the background color of form*/
}
.yp_form input[type = "text"], .yp_form input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline:none;
  color: white;
  border-radius: 24px;
  transition: width 0.3s;
}
.yp_form input[type = "number"], .yp_form input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline:none;
  color: white;
  border-radius: 24px;
  transition: width 0.3s;
}
.yp_form input[type = "email"], .yp_form input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline:none;
  color: white;
  border-radius: 24px;
  transition: width 0.3s;
}
.yp_form input[type = "tel"], .yp_form input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline:none;
  color: white;
  border-radius: 24px;
  transition: width 0.3s;
}
.yp_form input[type = "text"]:focus, .yp_form input[type = "password"]:focus{
  width:80%; /*Change This to keep the width of streching less*/
  width:95%; /*Change This to keep the width of streching less*/
  border-color: #2ecc71;
}
.yp_form input[type = "number"]:focus, .yp_form input[type = "password"]:focus{
  width:80%; /*Change This to keep the width of streching less*/
  width:95%; /*Change This to keep the width of streching less*/
  border-color: #2ecc71;
}
.yp_form input[type = "email"]:focus, .yp_form input[type = "password"]:focus{
  width:80%; /*Change This to keep the width of streching less*/
  width:95%; /*Change This to keep the width of streching less*/
  border-color: #2ecc71;
}
.yp_form input[type = "tel"]:focus, .yp_form input[type = "password"]:focus{
  width:80%; /*Change This to keep the width of streching less*/
  width:95%; /*Change This to keep the width of streching less*/
  border-color: #2ecc71;
}
.yp_form input[type = "submit"]{
  border:0;
  background: 0;
  display: block;
  margin: 20px auto;
  border: 2px solid #3498db;
  padding: 14px 40px;
  outline:none;
  color: white;
  border-radius: 24px;
  cursor:pointer;
}
.yp_form input[type = "submit"]:hover{
  background: #2ecc71;
}
/*End of sign_up Form animation*/
/*css code for 17 buttons*/
body{
	background: #262626;
}
.content{
	width: 900px;
	padding:7% 50px;
	margin:0 auto;
}
button{
	width: 180px;
	display:inline-block;
	margin: 5% 20px;
	padding: 20px 0px;
	text-align: center;
	font-size: 16px;
	font-family: arial;
	font-weight: bold;
	color: #fff;
	position: relative;
	text-decoration:none;
	letter-spacing: 1.5px;
}
.button1{
	background: red;
}
.button2{
	background: orange;
	border-radius: 10px;
}
.button3{
	background-color: purple;
	border :2px solid #fff;
}
.button4{
	background: blue;
	border:2px solid#fff;
	border-radius: 10px
}
.button5{
	background: green;
	border:2px dotted #fff;
}
.button6{
	background: green;
	border:2px dashed yellow;
}
.button7{
	background: yellow;
    border-radius: 30px 0 30px 0;
    color: #000;
}
.button8{
	background:orangered;
	border-radius: 0 30px 0 30px;

}
.button8:hover{
	background:skyblue;
}
.button9{
	background:green;
	color: #f2f2f2;
}
.button9::before{
	content:"";
	width:calc(100% - 16px);
	height:calc(100% - 12px);
	position:absolute;
	left:7px;
	top:3px;
	border:2px dashed #fff;
}
.button10{
	background:#424242;
}
.button10::before{
    content:"";
	width:calc(100%);
	height:calc(100% - 14px);
	position:absolute;
	left:0px;
	top:5px;
	border-top:2px dashed #fff;	
	border-bottom: 2px dashed #fff;
}
.button11{
    background: #ff00e4;
    border-radius: 30px;
    text-align: right;
    width:160px;
    padding-right:20px; 
}
.button11::before{
	content: "";
	width: calc(40px);
	height: calc(40px);
	position: absolute;
	left:10px;
	top: 10px;
	border-radius: 20px;
	background: orange;
}
.button12{
	border-radius: 30px;
	text-align: right;
	width: 160px;
	padding-right: 20px;
	border:4px solid #fff;
	background-color: red;
}
.button12::before{
	content: "";
	width: calc(40px);
	height: calc(40px);
	position:absolute;
	top:10px;
	left: 10px;
	border-radius: 20px;
	background:blue;
}
.button13{
	background: linear-gradient(to right,#0c1700,#81f802,#0c1700);
}
.button14{
	background: linear-gradient(-45deg, blue,red);
	color: blue;
}
.button14:hover{
	background: white;
	border:4px solid black;
}
.button15{
	box-shadow: inset 0 0 30px blue;
	background: lime;
}
.button16{
	box-shadow: 0 0 30px blue;
	background-color: yellow;
}
.button17{
	 
	position:relative;
	display: inline-block;
	padding: 15px 30px;
	color: #2196f3;
	letter-spacing: 4px;
	text-decoration:none;
	font-size: hidden;
	transition: 0.3s
}

.button17:hover{
	color: #255784;
	background: #2196f3;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 100px #2196f3;
	transition-delay: 0.2s;

}
.button17::before,.button17::after{
	content: "";
	position: absolute;
	width: 14px;
	height: 4px;
	background-color: red;
	transform: skewX(50deg);
	transition: .4s linear;
}

.button17::before{
	top:-4px;
	left: 10%

}
.button17::after{
	bottom: -4px;
	right: 10%;
}
.button17:hover::before{
	left: 80%;

}
.button17:hover::after{
	right: 80%;

}
.button{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;

}
/*end of butttons code*/

