body{
   background-color:#F3F3F3;
}


  *,
*::before,
*::after {
  box-sizing : border-box;
  -webkit-box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

nav{
  background-color: #FBFBFB;
}
.container-fluid {
  height: 80px;
  background-color:#FBFBFB;
  display:-webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  width: 100%;

}

.container-fluid .logo {
  width: 35%;
  padding: 0 10px;
  overflow: hidden;
}

.container-fluid .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}

.container-fluid .logo a img {
  max-width: 100%;
  max-height: 60px;
}

.container-fluid .navbar {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 ;
}

.container-fluid .navbar ul {
  
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container-fluid .navbar ul li a {
  
  color: #666666;
  text-decoration: none;
  
  font-size: 100%;
  -webkit-justify-content: flex-left;
  display: block;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  padding: 0 10px ;
}

.container-fluid .navbar ul li a:hover {
  color: white;
   
  color:rgb(255,145,0) !important;
  font-weight: bold;
}

.container-fluid .navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.container-fluid .navbar ul .close span {
  font-size: 20px;
  display: inline-block;
  color:rgba(0,0,0,.4) !important;
  padding: 0 ;
  cursor: pointer;
}

.container-fluid .navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.container-fluid .navbar .icon-bar i {
  background-color: #B2B2B2;
  display: block;
  font-style: bold;
  height: 2px;
}

@media only screen and (max-width: 900px) {
  .container-fluid {
     
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .container-fluid .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .container-fluid .navbar {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

  .container-fluid .navbar ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    width: 50%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
  }

  .container-fluid .navbar ul li a {
     background-color: white;
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
     color:rgba(0,0,0,.4) !important;
  }

  .container-fluid .navbar ul .close {
    display: block;
  }

  .container-fluid .navbar .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container-fluid .navbar ._Menus-show {
    left: 50%;
  }
}

