/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}*/

.yp_container{
    position: relative;
    width:85%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 8%;
    margin-bottom: 90px;
} 
.yp_container .yp_card{
    position: relative;
    height: 26em;
    background: #fff;
    display: flex;
    width: 40%;
    margin: 2em 0em;
}
.yp_container .yp_card .yp_imgbx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 104%;
    background: #333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;

}
.yp_container .yp_card:hover .yp_imgbx{
    width: 10em;
    height: 10em;
    left:-5em;
    top: calc( 50% - 5px);
    transition: 0.5s ease-in-out;
    background-color: #000080; /* For browsers that do not support gradients */
    background-image: linear-gradient(to top right, #b91372  12%, #000080);
}
.yp_container .yp_card .yp_imgbx:before{
    content: attr(data-text) ;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 6em;
    color: rgba(255, 255, 255,.05);
    font-weight: 700;
}
.yp_container .yp_card .yp_imgbx img{
    max-width: 26em;
    height: 19em;
    transition: 0.5s ease-in-out;

}
.yp_container .yp_card:hover .yp_imgbx img{
    max-width: 8em;
    max-height: 8em;

}
.yp_container .yp_card .yp_content{
    position: absolute;
    
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding:0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yp_container .yp_card .yp_content h3{
    display: flex;
    margin-bottom:0.5em;
    font-size: 2.4em;
}
/* .container .card .content a{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: #fff;
}*/

.yp_activity h1{
    text-align:center;
    font-size:4vw;
    background: linear-gradient(330deg,  #642b73,#bd3f32,#642b73,#bd3f32);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:sans-serif;
    padding-top:1%;
}

@media(max-width:800px){
    .yp_container{
        width:85%;
        flex-direction: column;
        align-items: center;
    }
    .yp_container .yp_card{
        width:95%;
        padding-left:0;
        padding-right:0;
    }
    .yp_activity h1{
        text-align:center;
        font-size:8vw;
        background: linear-gradient(330deg,  #642b73,#bd3f32,#642b73,#bd3f32);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family:sans-serif;
        padding-top:5%;
        
     }
    
}
@media(max-width:990px){
    .yp_container{
        width:80%;
        flex-direction: column;
        align-items: center;
        margin-left: 12%;
    }
    .yp_container .yp_card{
        width:90%;
        padding-left:0;
        padding-right:0;
    }
}

@media(min-width:992px) and (max-width:1199px){
    .yp_container{
        width:85%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left:8%;
    } 
}