

.yp_explain{
   display:flex; 
   justify-content:space-between; 
    background-color:rgb(197,196,196);
    font-size:15px;
}
 .yp_fade2{
   justify-self: flex-end; 
}

.yp_fade2 img{
    height:350px;
    margin-left:-20%;
    width:100%;

}

 .yp_fade1{
    margin-left: 100px;
}
div .heading h1{
   display: block;
}
.heading h1{
   text-align:center;
   font-size:4vw;
   background: linear-gradient(330deg,  #642b73,#bd3f32,#642b73,#bd3f32);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   display: block;
   font-family:sans-serif;
   padding-top:2%;
}
.slide-title{
    font-size: 3vw;
    font-weight: 400;
    letter-spacing: 0.1vw;
    line-height: 1.55vw;
    padding-bottom: 1.8vw;
    color:black;
    font-style: arial;
    display: block;
 }
 .slide-text{
    font-size: 1vw;
    line-height: 1.5vw;
   opacity: 0.8; 
    padding-bottom: -200px;
    color: black;
    font-style: sans-serif;
    display: block;
 }
 .yp_fade1{
    width: 50vw;
    color: black;
    padding: 3vw 3vw 5vw 5vw;
  }
  .yp_fade2{
    padding: 3vw 3vw 5vw 5vw;
    width: 500px;
    height: 500px;
    align-items: right;
    justify-content: right;
    
  }
  .jumbotron .jumbotron-fluid{
      background-color: gray;
  }

  @media (max-width: 1000px) {
   .yp_explain{
       display: block;
   }
    .jumbotron jumbotron-fluid{
   /*     top:10%; */
        max-width:100%;
      /*  max-height:100%;*/
    }
    .yp_fade2{
        padding-top:-300%;
    }
    .yp_fade2 img{
        height: 350px;
        margin-left:1%;
        width:100%;

    }
    .slide-title{
     font-size:4vw;
     line-height:1;
     text-align:center;
     display: block;
     }

     .slide-text{
       font-size:15px;
       padding-top:10%; 
        max-width:100%;
        line-height:1;
        display:block;
        flex-direction:column;
     }
     .heading h1{
        text-align:center;
        font-size:6vw;
        background: linear-gradient(330deg,  #642b73,#bd3f32,#642b73,#bd3f32);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family:sans-serif;
        padding-top:5%;
        
     }
     .yp_fade1 ul{
         font-size:3vw;
     } 
    
}
 
