.yp_explain{
    display:flex;
    justify-content: space-between;
}
.yp_fade2{
    justify-self: flex-end;
}

.yp_fade2 img{
    height: 200px;
    width: 200px;
    margin: 0 100px 0 0;
}

.yp_fade1{
    margin-left: 100px;
}