/*slider css code*/

.yp_slider{
   /* position:absolute; */
    width:100%;
    height: 80vh;
    display:flex;
    border: 2px solid #000;
}
div .yp_slide{
    position: relative;
    background: #0f0;
    height: 100%;
    flex:1;
    border-right: 2px solid #000;
    overflow:hidden;
    transition: .5s linear;
}
div .yp_slide:last-child{
    border-right: none;
}
div .yp_slide:hover{
    flex-grow:5;
}
div .yp_slide:nth-child(1){
    background: url('/images/poojitha.jpeg') no-repeat center top;
    width: 100%;
    
}
div .yp_slide:nth-child(2){
    background: url('/images/harshitha.jpeg') no-repeat center;
     width: 100%;
    
}
div .yp_slide:nth-child(3){
    background: url('/images/ihit.jpeg') center top;
     width: 100%;
    
}
div .yp_slide:nth-child(4){
    background: url('/images/vivek.jpeg') center top;
     width: 100%;
    
}
div .yp_slide:nth-child(5){
    background: url('/images/satish.jpeg') left center;
     width: 100%;
    
}
div .yp_slide:nth-child(6){
    background: url('/images/divitha.jpeg') center;
     width: 100%;
    
}
div .yp_slide:nth-child(7){
    background: url('/images/kriti.jpeg') no-repeat center;
     width: 100%;
    
}
div .yp_slide .yp_content{
    position: absolute;
    bottom: 0;
    margin: 40px;
    padding:30px;
    background: #000;
    color: #fff;
    visibility:hidden;
    opacity: 0;
    transition: 0s;
    transform: translateY(100px);
}
div .yp_slide:hover .yp_content{
    visibility:visible;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5%;
    transform: translateY(0px);
}
.yp_slidder_head1 h1{
    text-align:center;
    font-size:4vw;
    background: linear-gradient(330deg,  #642b73,#bd3f32,#642b73,#bd3f32);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:sans-serif;
    padding-top:1%;
}
/*end of slider code*/