.fa{
  color:grey;
}
.yp_social_media{
    position: absolute;
    /* right:25%; */
    left:10%;
    margin-left:-80px;
}
.yp_social_media_icon{
   list-style:none;
   margin:50px 10px;
   display:inline-block;
   font-size:30px;
   padding:20px 10px;
   color:grey;
}
.yp_social_media_icon:hover{
  opacity:0.7;
}
.fa:hover{
  background: #b91372; 
  background: -moz-linear-gradient(45deg, #b91372 0%, #000080 25%, #000080 50%, #000080 75%, #000080 100%); 
  background: -webkit-linear-gradient(45deg, #b91372 0%,#000080 25%,#000080 50%,#000080 75%,#000080 100%); 
  background: linear-gradient(45deg, #b91372 0%,#b91372 25%,#000080 50%,#000080 75%,#000080 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;

}
@media(max-width:767px){
  .yp_social_media{
    padding-left: 27%;
  }
}
@media(min-width:768px) and (max-width:991px){
  .yp_social_media{
    padding-left: 30%;
  }
}
@media(min-width:992px) and (max-width:1199px){
  .yp_social_media{
    padding-left: 35%;
  }
}