
.yp_testimonial
{    
    text-align:center;
    padding-top: 5%;
}
.yp_testimonial-button
{
    background-color:  rgb(9, 178, 230);
    border: 1px solid black;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width:400px;
}
